* {
  box-sizing: border-box;
}

header{
	text-align: center;
}

h1 {
	width: 50%;
	border: 5px solid black;
	border-radius: 15%;
	padding: 10px;
	margin: 0 auto;
	background-color: grey;
}

figure .headerPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 5px solid black;
	transition: all 1s;
}

figure .headerPic:hover{
	transform: scale(2) rotate(720deg);
}

nav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border: 10px solid black;
	border-radius: 100%;
	width: 40%;
}

nav ul li  {
	display: inline-block;
}

nav ul li a {
	display: block;
	color: white;
	padding: 20px 20px;
	text-decoration: none;
}

nav ul li a:hover {
	background-color: #111;
	border-radius: 100%;
}
